* {
    font-family: "Monaco";
    font-size: 13px;
}

#window {
    background-color: #A9A9A9;
    border-bottom: 3px solid #928E85;
    border-right: 3px solid #928E85;
    border-top: 3px solid #BEBEBE;
    border-left: 3px solid #BEBEBE;
    color: #e5e5e5;
}

#input {
    background-color: #A9A9A9;
    color: #e5e5e5;
    border: none;
    padding: 10px;
}

#inner-box {
    background-color: #A9A9A9;
}

#entry {
    color: #e5e5e5;
    padding: 10px;
}

#entry:selected {
    background-color: #BEBEBE;
    color: #000000;
}